.App {
  text-align: center;
}

.header{
  display:flex;
  align-items:center;
  justify-content: space-between;
  background-color: #0d0238;
}
.header a{
  color: #fff;
  text-decoration: none;
  margin-left: 3%;
}
.register input{
  /* display:block; */
}

.card{
  margin-top: 5%;
}

h3{
  text-align: center;
  margin-top: 10%;
}

.btnAd{
  margin: auto;
}

.login{
  border: 1px solid #000;
  border-radius: 10px;
  padding: 50px;
  margin-top: 4%;
}